* {
    font-family:'Roboto';
}

body {
    display: flex;
    flex-direction: column;
}

.header,
.hero,
.footer {
    display: flex;
    background-color: #1F2937;
}

.header {
    justify-content: space-between;
    padding: 8px 200px;
    align-items: center;
}

.header .logo {
    display: flex;
    gap: 8px;
    align-items: center;
}
.header ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    gap: 16px;
}

.header a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}
.header .logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

.hero {
    justify-content: space-between;
}

.hero .container {
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-top: 75px;
}

.hero .main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero .secondary {
    font-size: 18px;
    color: #E5E7EB;
}
.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 30px;
}

.information .container {
    display: flex;
    gap: 40px;
    text-align: center;
}

.information img {
    border: 3px solid #3882F6;
    border-radius: 6px;
}
.quote {
    display: flex;    
    background-color: #E5E7EB;    
    height: 500px;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
}

.quote-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: flex-end;
    flex-wrap: wrap;
}

.quote-text {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.speaker {
    font-weight: bold;
    display: flex;
    font-size: 24px;
    /* align-self: flex-end; */
}

.action {
    display: flex;
    background-color: #3882F6;
    height: 100px;
    width: 750px;
    align-self: center;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    gap: 75px;
}

.action .text {
    color: #F9FAF8;
}

.action .main {
    font-weight: bold;
    font-size: 24px;
}

.footer {
    justify-content: center;
    padding: 25px;
    color: #F9FAF8;
    margin-top: 50px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 6px;
    font-weight: bold;
    padding: 3px 20px;
}

.hero button {
    border: none;
}

.action button {
    border: 2px solid #F9FAF8;
}